.heroSection {
  background-image: url("../Images/header-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* display: flex;
  align-items: center; */
}

.heroText {
  color: white;
  font-size: 80px;
  line-height: 94.8px;
  letter-spacing: -2%;
}

.txt-25 {
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}

.bbtn {
  background: rgba(0, 184, 209, 0.4);
  width: fit-content;
  padding: 9px;
  border-radius: 35px;
  position: relative;
}

.RequestCallBackLg-btn {
  font-size: 24px;
  border: 3px solid;
  background-color: transparent;
  color: white;
  border-radius: 35px;
  padding: 10px 33px;
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 1;
  color: white;
  text-align: center;
  /* width: 215.78px;
  height: 63.96px; */
}
.RequestCallBackSm-btn {
  font-size: 18px;
  border: 3px solid;
  background-color: transparent;
  color: white;
  border-radius: 35px;
  padding: 2px 17px;
  color: #f1f1f1;
  transition: 0.5s ease;
  opacity: 1;
  color: white;
  text-align: center;
  
  
}
.headerImg {
  max-width: 100%;
  height: auto;
  padding: 50px 0px;
}
.Img {
  max-width: 100%;
  height: auto;
}
.sectionPadding{
  padding-top: 100px;
  padding-bottom: 100px;
}

.membership-bg {
  background-image: url("../Images/g.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.membershipTitle {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
}

.p_Text {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding: 17px 0px;
}

.BeAMemberBtn {
  font-weight: 600;
  font-size: 18px;
  line-height: 12px;
  text-transform: uppercase;
  color: #f76a2a;
  border: 2px solid #f76a2a;
  border-radius: 22px;
  width: 221px;
  height: 44px;
  background-color: transparent;
}

.AiOutlineMinus {
  color: rgb(247, 106, 42);
  font-size: 90px;
  margin-top: -17px;
  max-width: 100%;
}

.line {
  max-width: 100%;
  height: 2px;
  display: flex;
  align-self: center;
  padding-right: 10px;
}

.membership_Indent_Title {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #f76a2a;
  text-indent: 53px;
}

/* .light-gray-background:before{
  right: -99em;
  background: #f76a2a;
  content: "";
  display: block;
  position: absolute;
  width: 99em;
  top: 0;
  bottom: 0;
}
.light-gray-background{
  background: #f76a2a;
} */
.left {
  background-color: aliceblue;
}

.left:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: aliceblue;
}

.BackgroundCheck {
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  color: #BFABDC;
  padding-left: 10px;
}

.shadow {
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
}
.backImg{
  background-image: url("../Images/back\ image\ 3.png");
  background-repeat: no-repeat;
 
}

.position{
  position: absolute;
  top: 280px;
  left: 163px;
}

.FooteBg{
  background-image: url("../Images/footer-top-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  
}
.footer-h2{
font-weight: 500;
font-size: 30px;
line-height: 36px;
text-align: center;
color: #FFFFFF;
}
.footer-p{
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #FFFFFF;
}
.bookingProcessBg{
  background-image: url("../Images/booking-process-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
}
.bookNowBtn{
  background: #F76A2A;
  border-radius: 10px;
  /* transform: rotate(-180deg); */
  border: none;
  padding: 10px 90px;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
}
.searchBar{
  border-radius: 2px 7px 7px 0px;
    padding: 8px 38px;
    background: #F76A2A;
    border: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    color: white;
}


.footer-header {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: capitalize;
  color: #231F20;
  margin-bottom: 24px;
  margin-top: 42px;
}

.footer-sub-header {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-transform: capitalize;
  color: #231F20;
  margin-bottom: 24px;
  max-width: 250px;
}

.footer-items {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  text-transform: capitalize;
  color: #231F20;
  text-decoration: none;
  padding-bottom: 18px;
}
.book-appoint{
  position: absolute;
    right: 0;
    bottom: 107px;
}

@media (max-width: 992px) {
  .position {
    position: unset;
  }

  .FooteBg{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
  }
  .bookingProcessBg{
    background-size: cover;
    border-radius: 10px;
    padding: 0px 30px;
  }
  .book-appoint{
    position: unset;
  }
}